button {
  background: transparent;
  border: none;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29.5px 19px 29.5px 26px;
  // min-height: 104px;
  background-color: #fff;

  &__cities {
    // .dropdown__header {
    //   font-weight: 600;
    // }

    .dropdown-toggle__icon.location {
      margin-right: 5px;
    }

    .dropdown-toggle__icon.expand {
      margin-left: 5px;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__user {
    display: flex;
    align-items: center;
  }

  .user-profile {
    display: flex;
    align-items: center;
    margin-right: 56px;

    span {
      font-size: 17px;
      font-weight: 600;
      display: inline-block;
      margin-right: 5px;
      color: #000;
    }

    svg {
      .a {
        fill: none;
      }

      .b,
      .c {
        fill: $accent-color;
      }

      .c {
        isolation: isolate;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
  }
}

.logo {
  //   display: inline-block;
  //   margin-left: 32px;
  //   margin-right: 50px;
}


.dropdown {
  &-toggle {
    display: flex;
    align-items: center;

    &__icon {
      display: flex;

      &.location svg {
        .b {
          fill: $accent-color;
        }
      }

      svg {
        .a {
          fill: none;
        }
      }
    }
  }

  &__header {
    color: #000;
    font-size: 17px;

    &.inverse {
      color: #fff;
    }

    // margin-right: 12px;
  }

}

.toggle-menu {
  svg {
    .a {
      fill: none;
    }

    .b {
      fill: #000068;
    }
  }
}


.top-line {
  display: flex;
  justify-content: space-between;
  padding: 13.5px 32px 13.5px 32px;
  background: transparent linear-gradient(92deg, #CE58E7 0%, #52BADB 100%) 0% 0% no-repeat padding-box;
  opacity: 0.96;
  color: #fff;

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left {}

  &__right {}

  &__current {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-right: 56px;
  }


  .filter {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__icon {
      .a {
        fill: none;
      }

      .b {
        fill: #fff;
      }
    }

    &__header {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 600;
      margin-left: 8px;
      color: #fff;
    }
  }

  .schedule {
    margin-right: 56px;

    .dropdown-toggle__icon {
      margin-right: 6px;
    }

    svg {
      .b {
        fill: #fff;
      }
    }
  }

  .movie-list {



    display: flex;

    &__header {
      h4 {
        position: relative;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
      }

      small {
        position: absolute;
        margin: 0;

        font-size: 11px;
      }
    }

    &__icon {
      svg {
        .a {
          fill: none;
        }

        .b {
          fill: #fff;
        }
      }
    }
  }
}


.dropdown {
  &__header {
    font-size: 17px;
    font-weight: 600;
  }
}

.movies {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  padding: 15px;

  .movie {
    display: flex;

    margin-left: 8px;
    margin-right: 8px;
    width: calc(50% - 16px);
    background-color: #fff;
    box-shadow: 0px 0px 16px #0000001F;
    border-radius: 12px;

    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 12px;
    }

    &__action {
      position: relative;
      flex: 1;
      display: block;
      padding-bottom: 52.2%;
      border-radius: 12px;
      // transition: opacity .35s ease;



      .movie-description {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        border-radius: 12px;
        bottom: 0;
        width: 100%;
        display: flex;
        // flex-direction: column;
        justify-content: flex-end;
        height: 100px;
        display: flex;
        z-index: 1000;
        align-items: center;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(5, 4, 4, 0.16) 27%, rgba(17, 12, 12, 0.51) 67%);
        transition: all .35s ease;
        // box-shadow: 3px 3px 6px #00000029;



        &__info {
          flex: 1;
          height: 100%;
        }

        &__trailer {
          flex: 1;
          height: 100%;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          height: 100%;

          h6 {
            color: #fff;
            font-weight: 700;
            font-size: 18px;
          }

          // width: 56px;
          // height: 56px;
          // background-color: rgba(0, 0, 0, 0.4);
          // backdrop-filter: blur(6px);
          // -webkit-backdrop-filter: blur(6px);
        }
      }

      &:hover {
        // transition: opacity .35s ease;

        .movie-description {
          opacity: 1;
          visibility: visible;
          transition: all .35s ease;
        }
      }

    }

    &__content {

      display: flex;
      flex-direction: column;
      flex: 1;
      width: 50%;
      padding: 35px 0;

      .swiper-container {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      .pagination {
        display: flex;
        align-items: center;

        justify-content: center;
        padding: 0 15px;

        &-title {
          font-weight: 400;
          font-size: 17px;
          margin-right: 20px;
        }

        .prev,
        .next {
          display: flex;
        }

        .prev {
          margin-right: 10px;

          svg {
            .a {
              fill: none;
            }

            .b {
              fill: none;
            }

            .c {
              fill: #CE58E7;
            }
          }

          &.swiper-button-disabled {
            svg {
              .c {
                opacity: 0.2;
              }
            }
          }
        }

        .next {
          svg {
            .a {
              fill: transparent
            }

            .b {
              fill: #CE58E7;
            }
          }

          &.swiper-button-disabled {
            .b {
              opacity: 0.2;
            }
          }
        }
      }




      h2 {
        font-size: 26px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
      }
    }

    &-genre ul {
      display: flex;
      list-style-type: none;
      margin: 12px 0 20px 0;
      padding: 0;
      justify-content: center;

      li {
        color: $header-color;
        font-weight: 600;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }

        &.genre {
          color: rgba($header-color, .5);
          // font-weight: 400;
        }
      }

    }

    &__event {

      position: relative;
      display: flex;
      justify-content: center;

      h4 {
        color: #000;
        display: inline-block;
        font-size: 17px;
        text-align: center;
      }

    }
  }
}

.dots {
  display: flex;

  .dot {
    width: 2px;
    height: 2px;
    background-color: $accent-color;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.next-session h6,
.schedule h6 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.next-session {
  margin-top: 14px;



  a {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    text-decoration: none;
    box-shadow: -4px -4px 8px #F6F6F6;
    // box-shadow: -4px -4px 8px #F6F6F6, 8px 8px 12px #9898A5;
    background-color: #f5f5f5;
    // height: 64px;
    border-radius: 50px;
  }

  &__time {
    color: $header-color;
    font-size: 28px;
    font-weight: 700;
    margin-right: 10px;
  }

  &__price {
    background-color: #2D2DAB;
    color: #fff;
    border-radius: 100px;
    padding: 8px 30px;
    font-size: 17px;
    font-weight: 700;
    box-shadow: -3px -3px 6px #FFFFFF;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

}


.schedule-proposals {

  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 362px;

  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #0000001F;
    margin-bottom: 14px;
    padding: 0 6px 0 20px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  &__time {
    margin-right: 12px;
    // margin-left: 20px;

    h4 {
      font-size: 17px;

    }

    small {
      font-size: 13px;
      color: #7F7F8A;
    }
  }

  &__type {
    font-size: 17px;
    font-weight: 400;
    margin-right: 14px;
  }

  &__action {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 24px;
    padding: 7px 13px;
    margin-right: 6px;
    // height: 36px;

    small {
      font-size: 13px;
      margin-left: 2px;
    }

    &.lux {
      border: 1px solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #CE58E7, #52BADB);
      margin-right: 0;

      span {
        color: #CE58E7;
        font-weight: 600;
        margin-right: 5px;
      }
    }


  }

  &__link {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    // padding: 20px 0;

    color: #000;
    text-decoration: none;
  }
}

// .schedule {
//   margin-top: 28px;

//   &-list {
//     margin: 0;
//     padding: 0;
//     list-style-type: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &__item {
//       margin-right: 16px;

//       &:last-child {
//         margin-right: 0;
//       }

//       span {
//         font-weight: 700;
//         color: $accent-color;
//       }

//       .dot {
//         opacity: 0.3;
//       }
//     }
//   }
// }
