.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent linear-gradient(0deg, #00003600 0%, #000036B8 20%, #000036 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 24px 24px;
  z-index: 100;
  transform: translateY(-100%);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition: transform .8s cubic-bezier(.77,0,.175,1);
  //padding-top: 15px;
  //padding-left: 24px;
  //padding-bottom: 100px;
  &.active {
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.77,0,.175,1);
  }
  //
  //&-content {
  //  background: #fff;
  //
  //  //height: 747px;
  //}
  &-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    height: 100%;
  }
  &-phone {
    display: flex;
    align-items: center;
    svg {
      margin-right: 7px;
      .a {
        fill: none;
      }
      .b {
        fill: $accent-color;
      }
    }
    a {
      text-decoration: none;
      color: #000;
      font-size: 17px;
      font-weight: 600;
      transition: all .25s ease;
      &:hover {
        color: $accent;
        transition: all .25s ease;
      }
    }
  }
}
.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &__item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: #000;
    font-size: 34px;
    font-weight: 700;
    transition: color .35s ease;
    &:hover {
      color: $accent;
      transition: color .35s ease;
    }

  }
}

.menu-close {
  svg {
    .a {
      fill: none;
    }
    .b {
      fill: #f2f2f2;
    }
    .c, .d {
      fill: #000067;
    }
    .c {
      opacity: 0
    }
  }
}
.main-menu-content {
  display: flex;
  //border-left-bottom-radius: 24px;
  border-bottom-left-radius: 24px;
  height: 80%;
  background: #fff;
  border-bottom-right-radius: 24px;
  //border-radius: 0px 0px 24px 0px;
  .main-menu__left {
    display: flex;
    flex-direction: column;
    flex: 4;
    padding-left: 30px;
    //padding-top: 15px;
    //padding-left: 24px;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
      padding-top: 18px;
    }

  }
  .main-menu__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 46px;
    flex: 1;
    background: transparent linear-gradient(148deg, #CE58E7 0%, #52BADB 100%) 0% 0% no-repeat padding-box;
    border-bottom-right-radius: 24px;
    //border-radius: 0px 0px 24px 0px;
  }
  .menu-desc {
    color: #fff;
    h2 {
      font-size: 34px;
      font-weight: 700;
      line-height: 46px;
    }
    p {
      font-size: 17px;
      font-weight: 400;
      line-height: 32px;
      margin-top: 30px;
    }
    a {
      background: #fff;
      border-radius: 28px;
      color: $accent-color;
      font-size: 20px;
      display: inline-flex;
      flex: 1;
      justify-content: center;
      width: 100%;
      padding: 16px 0;
      font-weight: 700;
      //box-shadow: 0px 16px 24px #000067B8;
      text-decoration: none;
      margin-top: 50px;
      transition: box-shadow .35s ease;
      &:hover {
        box-shadow: 0px 16px 24px #000067B8;
        transition: box-shadow .35s ease;
      }
    }
  }
}
.menu-socials {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  &-top {
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  h6 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .copyright {
    margin-top: auto;
    padding-bottom: 32px;
    font-size: 13px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
      .s-icon {
        background: #f2f2f2;
        border-radius: 50%;
        padding: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
      svg {
        .a {
          fill: none;
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
